body {
    margin: 0;
    padding: 0;

}

main #container-slide {
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: space-between;

    background-color: black;

    margin: 20vh auto;

    border-radius: 10px;
    box-shadow: 0 20px 30px black;
    border: 5px solid black;
}

.container-items {
    position: absolute;
    display: flex;
    width: 80vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 80vw;
    height: 50vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 80vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.action-button{
    color: white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}